<section>
  <header fxLayout="row" fxLayoutAlign="center start" class="container">
    <div fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
      <h2>Zones</h2>
    </div>
  </header>
  <div fxLayout="row" fxLayoutAlign="center start" class="container">

    <div fxLayout="column" fxLayoutAlign="strech stretch" fxFlex="80" >
      <app-zone-list (zoneSelected)="navigate($event)"></app-zone-list>

      <div fxLayout="row">
        <button mat-raised-button
                role="button"
                aria-label="add-zone"
                translate="text.add-zone"></button>

      </div>
    </div>
  </div>
</section>
