<ng-container [ngSwitch]="record.recordType">
  <div *ngSwitchCase="'A'">
    {{record.content.ip}}
  </div>

  <div *ngSwitchCase="'MX'" fxLayoutAlign="space-between">
    <span>{{record.content.host}}</span>
    <app-badge-label [value]="record.content.priority | number"
                     [matTooltip]="'keywords.priority' | translate"></app-badge-label>
  </div>

  <div *ngSwitchCase="'CNAME'">
    {{record.content.host}}
  </div>

  <div *ngSwitchDefault>
    {{record.content}}
  </div>
</ng-container>
