<ng-container [formGroup]="form">
  <mat-form-field>
    <mat-label translate="keywords.name"></mat-label>
    <input matInput name="name" type="text"
           formControlName="name"
           [placeholder]="'text.fill-the-input' | translate">
    <mat-icon matSuffix>check</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Host</mat-label>
    <input matInput name="host" type="text"
           formControlName="host"
           [placeholder]="'text.fill-the-input' | translate">
    <mat-icon matSuffix>check</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label translate="keywords.ttl"></mat-label>
    <input matInput name="ttl" type="number"
           formControlName="ttl"
           [placeholder]="'keywords.ttl' | translate">
    <mat-icon matSuffix>check</mat-icon>
    <mat-hint>0~65535</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label translate="keywords.priority"></mat-label>
    <input matInput name="priority" type="number"
           formControlName="priority"
           [placeholder]="'keywords.priority' | translate">
    <mat-icon matSuffix>check</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</ng-container>
