<mat-drawer-container>
  <mat-drawer #drawer mode="side" opened>
    <mat-toolbar color="primary">
      <span translate="keywords.zones"></span>
    </mat-toolbar>

    <mat-list>
      <mat-list-item>item</mat-list-item>
    </mat-list>

  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>CoreDNS Dashboard</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Sign out button" (click)="confirmSignOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

  </mat-drawer-content>
</mat-drawer-container>
