<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <mat-toolbar color="primary">
      <span translate="keywords.zones"></span>
    </mat-toolbar>

    <mat-list>
      <mat-list-item>item</mat-list-item>
    </mat-list>

  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="primary">
      <button mat-icon-button
              aria-label="Drawer toggle button"
              (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>CoreDNS Dashboard</span>

      <span class="example-spacer"></span>

      <button mat-icon-button
              aria-label="User information"
              (mouseover)="isOpen = true"
              (mouseout)="isOpen = false"
              cdkOverlayOrigin #trigger="cdkOverlayOrigin">
        <mat-icon>person</mat-icon>
      </button>

      <button mat-icon-button
              aria-label="Sign out button"
              [matTooltip]="'common.actions.sign-out' | translate"
              (click)="confirmSignOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

  </mat-drawer-content>
</mat-drawer-container>


<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <app-user-info-summary></app-user-info-summary>
</ng-template>
