
<mat-toolbar color="primary">
  <span>CoreDNS Dashboard</span>

  <span class="example-spacer"></span>

  <button mat-icon-button
          aria-label="User information"
          (mouseover)="isOpen = true"
          (mouseout)="isOpen = false"
          cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <mat-icon>person</mat-icon>
  </button>

  <button mat-icon-button
          aria-label="Sign out button"
          [matTooltip]="'common.action.sign-out' | translate"
          (click)="confirmSignOut()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <app-user-info-summary></app-user-info-summary>
</ng-template>
