<ng-container *ngIf="list$|async as records">
  <table mat-table id="zone-record-list" class="mat-elevation-z8"
         multiTemplateDataRows
         [dataSource]="records" >

    <!-- type Column -->
    <ng-container matColumnDef="recordType">
      <th mat-header-cell *matHeaderCellDef translate="keywords.record-type"></th>
      <td mat-cell *matCellDef="let item"> {{item.recordType}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef translate="keywords.name"></th>
      <td mat-cell *matCellDef="let item">{{item.name}}</td>
    </ng-container>

    <!-- zone Column -->
    <ng-container matColumnDef="contents">
      <th mat-header-cell *matHeaderCellDef translate="keywords.contents"></th>
      <td mat-cell *matCellDef="let item">
        <app-record-content-display [record]="item"></app-record-content-display>
      </td>
    </ng-container>

    <!-- ttl Column -->
    <ng-container matColumnDef="ttl">
      <th mat-header-cell *matHeaderCellDef translate="keywords.ttl"></th>
      <td mat-cell *matCellDef="let item">{{item.ttl | number}}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef translate="keywords.created-at"></th>
      <td mat-cell *matCellDef="let item">{{item.createdAt | date}}</td>
    </ng-container>
    >
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>


    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let item" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="item-detail"
             [@detailExpand]="item === expandedElement ? 'expanded' : 'collapsed'">
          <app-record-form-selector [item]="item"></app-record-form-selector>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>

</ng-container>
