<ng-container [formGroup]="form">
  <mat-form-field>
    <mat-label translate="keywords.name"></mat-label>
    <input matInput name="name" type="text"
           formControlName="name"
           [placeholder]="'keywords.subdomain' | translate"
           [errorStateMatcher]="matcher">
    <mat-icon matSuffix>check</mat-icon>
    <mat-hint>Hint</mat-hint>
    <mat-error *ngIf="form.controls['name'].hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Target</mat-label>
    <input matInput name="host" type="text"
           formControlName="host"
           [placeholder]="'text.canonical-name' | translate"
           [errorStateMatcher]="matcher">
    <mat-icon matSuffix>check</mat-icon>
    <mat-hint>Hint</mat-hint>
    <mat-error *ngIf="form.controls['host'].hasError('required')">
      Host is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label translate="keywords.ttl"></mat-label>
    <input matInput name="ttl" type="number"
           formControlName="ttl"
           [placeholder]="'text.ttl-explain' | translate"
           [errorStateMatcher]="matcher">
    <mat-icon matSuffix>check</mat-icon>
    <mat-hint>0~65535 seconds</mat-hint>
    <mat-error *ngIf="form.controls['ttl'].hasError('required')">
      TTL is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</ng-container>
